{{ $email := promptStringOnce . "email" "E-Mail" "max@riehl.io" -}}
{{ $fullname := promptStringOnce . "fullname" "Full Name" "Maximilien Riehl" -}}

pager = "less -R"

[data]
    email = {{ $email | quote }}
    fullname = {{ $fullname | quote }}
    gpgSign = false
    font = "JetBrainsMono Nerd Font"
    {{- if eq .chezmoi.os "darwin" }}
    browser = "open"
    shellAbs = "/bin/zsh"
    {{- else }}
    browser = "google-chrome-stable"
    shellAbs = "/usr/bin/zsh" # TODO brew
    {{- end }}
