[submodule "deps/tpm"]
	path = deps/tpm
	url = https://github.com/tmux-plugins/tpm
    ignore = dirty
[submodule "deps/git-radar"]
	path = deps/git-radar
	url = https://github.com/michaeldfallen/git-radar
