xmonad.errors
xmonad.hi
xmonad.o
xmonad-x86_64-linux
xmonad-i386-linux
node_modules
rcfiles/atom/nohup.out
rcfiles/atom/projects.cson
rcfiles/atom/.apm
rcfiles/emacs.d/elpa
*.swp

# old version of vim plug when using :PlugUpgrade
rcfiles/.vim/autoload/plug.vim.old

# projectile bookmarks
rcfiles/emacs.d/projectile-bookmarks.eld
rcfiles/emacs.d/auto-save-list
rcfiles/emacs.d/ac-comphist.dat
rcfiles/emacs.d/savehist
rcfiles/emacs.d/saveplace
rcfiles/emacs.d/ensime
rcfiles/emacs.d/projectile.cache
rcfiles/emacs.d/.cask
rcfiles/emacs.d/company-statistics-cache.el
rcfiles/emacs.d/distel
rcfiles/emacs.d/eshell/
rcfiles/emacs.d/transient/history.el
rcfiles/emacs.d/.lsp-session-v1
rcfiles/emacs.d/workspace
rcfiles/emacs.d/.cache

.python-environments


manifests/files/emacs.d/projectile-bookmarks.eld
manifests/files/emacs.d/auto-save-list
manifests/files/emacs.d/ac-comphist.dat
manifests/files/emacs.d/savehist
manifests/files/emacs.d/saveplace
manifests/files/emacs.d/ensime
manifests/files/emacs.d/projectile.cache
manifests/files/emacs.d/.cask
manifests/files/emacs.d/company-statistics-cache.el
manifests/files/emacs.d/distel
manifests/files/emacs.d/eshell/
manifests/files/emacs.d/transient/history.el
manifests/files/emacs.d/.lsp-session-v1
manifests/files/emacs.d/workspace
manifests/files/emacs.d/.cache
