xmonad.errors
xmonad.hi
xmonad.o
xmonad-x86_64-linux
xmonad-i386-linux
node_modules
rcfiles/atom/nohup.out
rcfiles/atom/projects.cson
rcfiles/atom/.apm
rcfiles/emacs.d/elpa
*.swp

# old version of vim plug when using :PlugUpgrade
rcfiles/.vim/autoload/plug.vim.old

# projectile bookmarks
rcfiles/emacs.d/projectile-bookmarks.eld
rcfiles/emacs.d/auto-save-list
rcfiles/emacs.d/ac-comphist.dat
rcfiles/emacs.d/savehist
rcfiles/emacs.d/saveplace
rcfiles/emacs.d/ensime
rcfiles/emacs.d/projectile.cache
rcfiles/emacs.d/.cask
rcfiles/emacs.d/company-statistics-cache.el
rcfiles/emacs.d/distel

.python-environments
