# allow xterm keys (e.G. ctrl+arrowkey for word jump)
set-window-option -g xterm-keys on

set -g status-interval 5

# Make vim home row work for panel focus
bind k selectp -U
bind j selectp -D
bind h selectp -L
bind l selectp -R


# lower command delay
set -sg escape-time 0

# start first window and pane at 1, not zero
set -g base-index 1
set -g pane-base-index 1

# bind r to reloading the config file
bind r source-file ~/.tmux.conf \; display "Reloaded tmux config file."

# Set prefix to ctrl+a
unbind C-b
set -g prefix C-a
bind C-a send-prefix

# disable mouse support
set -g mouse off

# turn on 256 color support in tmux
set -g default-terminal "screen-256color"

# fiddle with colors of status bar
set -g status-fg colour234
set -g status-bg white

set -g window-status-style fg=colour234,bg=white,dim
set -g window-status-current-style fg=blue,bg=white,bright
# fiddle with colors of inactive windows

# set color of regular and active panes
set -g pane-border-style fg=colour238,bg=default
set -g pane-active-border-style fg=colour234,bg=default

# set color of command line
set -g message-style fg=colour234,bg=white,bright

# configure contents of status bar
set -g status-left-length 40
set -g status-left "#{prefix_highlight} #[bg=white]#[fg=colour108] :: S_#S :: #[bg=white]#[fg=black] #(whoami)@#h"

set -g status-right "#[bg=green]#[fg=black] %d %b %R  #{battery_percentage} #{prefix_highlight}"

set -g status-justify centre
setw -g monitor-activity on
set -g visual-activity on

# set up alias for turning on logging
bind P pipe-pane -o "cat >>~/#W.log" \; display "Toggled logging to ~/#W.log"

bind W choose-tree
bind S set-window-option synchronize-panes

set -g mode-keys vi

bind X respawn-pane -k

set-option -g default-shell {{ .shellAbs }}
