"*":
  editor:
    fontFamily: "Source Code Pro"
    showInvisibles: true
    tabLength: 4
    fontSize: 14
    invisibles: {}
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      "target"
      "venv"
      "build"
      "*.out"
      "__pycache__"
    ]
    useReactEditor: true
    disabledPackages: [
      "metrics"
      "background-tips"
    ]
    autoHideMenuBar: true
  welcome:
    showOnStartup: false
  racer:
    rustSrcPath: "/opt/rust-src/src"
  "exception-reporting":
    userId: "4921a71e-1702-9cd6-ee48-3e15ac94b0ac"
