[user]
    name = mriehl
    email = max@riehl.io

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[push]
    default = matching

[core]
    editor = vim
    pager = less -R

[alias]
    st = status -uall -s -b
    ci = commit
    br = branch -va
    co = checkout
    go = checkout -b
    df = diff
    cdf = diff --cached
    sdf = diff --staged
    lg = log -p
    logs = log --stat -p --decorate
    destroy = reset --hard
    up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    todo =  grep --line-number -I -i --word-regexp TODO
    today = !git log --author=$(git config user.email) --since=yesterday
    ls = ls-files
    pulr = pull --rebase
    ru = remote update
    rup = remote update --prune
    ffm = merge --ff-only
    uff = !sh -c 'git rup && git ffm'
    sur = submodule update --remote

[merge]
defaultToUpstream = 1

[help]
    autocorrect = 1

[rerere]
    enabled = 1

[web]
    browser = firefox

[branch "master"]
    remote = w
    merge = refs/heads/master
