[env]
TERM = "xterm-256color"

[font]
size = 12.0

[shell]
program = {{ .shellAbs | quote }}
args = []

[window]
decorations = "Buttonless"

[font.bold]
family = {{ .font | quote }}

[font.italic]
family = {{ .font | quote }}

[font.normal]
family = {{ .font | quote }}
