[general]
import = [ "~/.config/alacritty/themes/solarized-dark.toml" ]

[env]
TERM = "xterm-256color"
{{- if eq .chezmoi.os "linux" }}
WINIT_X11_SCALE_FACTOR = "1"
{{- end }}

[font]
{{- if eq .chezmoi.os "darwin" }}
size = 15.0 # retina
{{- else }}
size = 12.0
{{- end }}

[terminal.shell]
program = {{ .shellAbs | quote }}
args = []

[window]
decorations = "Buttonless"

[font.bold]
family = {{ .font | quote }}

[font.italic]
family = {{ .font | quote }}

[font.normal]
family = {{ .font | quote }}

{{- if eq .chezmoi.os "darwin" }}
[[keyboard.bindings]]
chars = "\u001BF"
key = "Right"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001BB"
key = "Left"
mods = "Alt"
{{- end }}
