add_newline = true

[character]
format="$symbol "
success_symbol="[»](bold green)"
error_symbol="[»](bold red)"

[java]
disabled = true

[time]
disabled = false
time_format = "%T"
format="[$time]($style) "
utc_time_offset = "2"
